body {
  background: $bgcolor;
}

.flash:first-child {
  margin-top: 40px;
}

.flash:last-child {
  margin-bottom: 40px;
}

.table tbody tr td {
  vertical-align: middle;
  font-size: 13px;
}

h1 {
  margin-bottom: 40px;
}

.notice {
  margin-top: 40px;
  margin-bottom: 40px;
}

ul.error {
  li {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #a94442;
  }
  display: block;
  padding: 15px 30px;
  margin: 0 0 20px;
  background: #f2dede;
  border-left: 3px solid #a94442;
}

#navbar {
  margin-top: 20px
}

.section-title {
  margin-top: 40px;
}

.comment-responses {
  small {
    color: #777;
    font-size: 12px;
  }
}

.comment-response {
  margin-top: 15px;
  margin-bottom: 15px;
}

.comment-reply {
  display: inline-block;
  margin-top: 10px;
}

textarea {
  resize: none;
}

#admin-panel {
  button {
    margin-left: 10px;
  }
}

.form-gray {
  padding: 20px;
  background: #eee;
}