{block content}

    <div class="container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h3>Database Applications</h3>
                <h1 n:block=title>Sign in</h1>
                {control signInForm}
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>


{/block}
